<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <META NAME="ROBOT" CONTENT="index, follow">
        <title>OuiCarry vos colis envoyés entre Paris et Dakar pour 9 euros par kilo, livraison rapide
        </title>
        <meta content= "Colis, Fret, aérien, avion, livraison, voyage, expédition, kilos, OuiCarry, www.ouicarry.com" />

<META NAME="description" CONTENT=" Le service OuiCarry permet le transport par avion de vos colis entre Paris et Dakar. Délais de livraison entre 2 et 7 jours. Ce service de fret aérien n'est pas cher, les tarifs sont de 9 € par kilo, ou 11 € par kilo avec livraison à domicile incluse. ">

<META NAME="keywords" CONTENT="www.ouicarry.com, OuiCarry, envoyer un colis, Sénégal, France, avion, fret aérien, 9 euros par kilo, pas cher, économique, rapide, livraison rapide, Dakar, Paris, expédier, kilos, kilogrammes, kg, paquet, service postal, transporteur, transitaire">

    <link rel="icon" type="image/png" href="{{ asset('bundles/sitesite/images/favicon.png') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/sitesite/css/main.css') }}" type="text/css" media="all">

    </head>
    <body>
    <div id="content">
        <div id="header">
            <img src="{{ asset('bundles/sitesite/images/contactez_nous.png') }}" alt="Contactez Nous"></img>
            <div id="logo">
                <a href="{{ url('site_index') }}"><img src="{{ asset('bundles/sitesite/images/logo.png') }}" width="210" height="130" alt="OuiCarry" border="0"></img></a>
            </div>
        </div>
        <div id="top_bar">
            <div id="menu">
                <a href="{{ url('site_index') }}"><img src="{{ asset('bundles/sitesite/images/home.png') }}" alt="Home" border="0"></img></a><a href="{{ url('site_service') }}"><img src="{{ asset('bundles/sitesite/images/service.png') }}" alt="Le service" border="0"></img></a><a href="{{ url('site_agence') }}"><img \
src="{{ asset('bundles/sitesite/images/agence.png') }}" alt="Destinations" border="0"></img></a><a href="{{ url('site_devis') }}"><img src="{{ asset('bundles/sitesite/images/devis.png') }}" alt="Obtenir un devis" border="0"></img></a>
            </div>
        </div>
        <div id="middle_bar">
            {% block body %}
            {% endblock %}
        </div>
        <div id="footer">
            <table width="100%" cols="3" cellpadding="0" valign="middle" align="center" cellspacing="20">
                <tr>
                    <td width="35%">
                        <a href="{{ url('site_service') }}">Le Service</a><br>
                        <a href="{{ url('site_agence') }}">Nos Agences</a><br>
                        <a href="{{ url('site_devis') }}">Obtenir Un Devis</a><br>
                    </td width="35%">
                    <td>
                        <a href="{{ url('site_colis_interdit') }}">Colis Interdits</a><br>
                        <a href="{{ url('site_mentions_legales') }}">Mentions Légales</a><br>
                        <a href="{{ url('site_contact') }}">Nous Contacter</a><br>
                    </td>
                    <td width="20%">
                        <a href="http://www.facebook.com/pages/OuiCarry/321613247933145" target="_blank"><img src="{{ asset('bundles/sitesite/images/facebook.png') }}" alt="Facebook" border="0"></img></a><a href="#"><img src="{{ asset('bundles/sitesite/images/twitter.png') }}" alt="Twitter" border="0"></img></a>
                    </td>
                </tr>
             </table>
        </div>
    </div>
    </body>
</html>
