{% extends "::layout.html.twig" %}
{% block body %}
<table cols="2" cellpadding="0" valign="middle" align="center" cellspacing="20">
    <tr>
        <td>
            <img src="{{ asset('bundles/sitesite/images/texte.png') }}"></img>
        </td>
        <td>
            <div style="position: absolute;">
<img src="{{ asset('bundles/sitesite/images/cadre.png') }}"/>
</div>
    <ul class="example2">
        <li><img src="{{ asset('bundles/sitesite/images/carousel_1.png') }}" width="576" height="324"/></li>
    <li><img src="{{ asset('bundles/sitesite/images/carousel_2.jpg') }}" width="576" height="324"/></li>
    <li><img src="{{ asset('bundles/sitesite/images/carousel_3.jpg') }}" width="576" height="324"/></li>
    </ul>
        </td>
    </tr>
</table>
<div id="bottom_bar">
    <img src="{{ asset('bundles/sitesite/images/nos_partenaires.png') }}"></img>
    <table width="100%" cols="3" cellpadding="0" valign="middle" align="center" cellspacing="10">
        <tr>
            <td width="">
                <a href="http://www.speedmailservice.com/" target="_blank"><img src="{{ asset('bundles/sitesite/images/speedmail.png') }}" alt="Speed Mail" border="0"></img></a>
            </td>
            <td width="65%">
                <a href="http://astifrance.com/" target="_blank"><img src="{{ asset('bundles/sitesite/images/asti.png') }}" alt="ASTI" border="0"></img></a>
            </td>

        </tr>
    </table>
</div>
{% endblock %}
